---
import Social from "./social.astro";
---

<footer>
  <div class="social">
    <Social platform="x" username="kasvmi02" />
    <Social platform="github" username="kasumi0" />
    <Social platform="youtube" username="@lab3895" />
  </div>
  <small>copyrights 2024 ©︎ Takabayashi-Kasumi all rights reserved</small>
</footer>
